.chalice/deployments/
.chalice/venv/
.chalice/.DS_Store
chalicelib/__init__.py

access_token.txt
access_token.json
sample.json

node_modules/
json-mock-api/node_modules/
json-mock-api/yarn-error.log

articles_crawler/set_env_variables_aws
articles_crawler/articles_crawler_parameters.json
sphinx/

docker/dynamodb/shared-local-instance.db

.devcontainer/
