.chalice/deployments/
.chalice/venv/
chalicelib/__init__.py

access_token.txt
access_token.json
sample.json

node_modules/
json-mock-api/node_modules/
json-mock-api/yarn-error.log

articles_crowler/.env
sphinx/

docker/dynamodb/shared-local-instance.db
