[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chalice = "==1.26.6"
boto3 = "*"
attrs = "==21.4.0"
blessed = "==1.19.1"
botocore = "==1.24.13"
certifi = "==2021.10.8"
charset-normalizer = "==2.0.12"
click = "==8.0.4"
flask = "==2.0.3"
idna = "==3.3"
inquirer = "==2.9.1"
itsdangerous = "==2.1.0"
jinja2 = "==3.0.3"
jmespath = "==0.10.0"
markupsafe = "==2.1.0"
mypy-extensions = "==0.4.3"
python-dateutil = "==2.8.2"
python-editor = "==1.0.4"
pyyaml = "==6.0"
readchar = "==3.0.5"
requests = "==2.27.1"
six = "==1.16.0"
urllib3 = "==1.26.8"
wcwidth = "==0.2.5"
werkzeug = "==2.0.3"
aws-xray-sdk = "*"

[dev-packages]
python-dotenv = "*"
pytest = "*"
sphinx = "*"

[requires]
python_version = "3.9"
