.table .sortable {
  cursor: pointer;
  position: relative;
}

.table .sortable::before,
.table .sortable::after {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  border: 5px solid transparent;
  right: 10px;
  top: 50%;
}

.table .sortable::before {
  border-bottom-color: #fff;
  margin-top: -10px;
}
.table .sortable::after {
  border-top-color: #fff;
  margin-top: 2px;
}

.sortButton {
  width: 25%;
  background: transparent;
  border: none;
  padding: 0;
  color: #fff;
}
