{% extends "layout.html" %} {% block content %}
<h2>Qiitaの人気記事</h2>
<div id="controllButton">
  <input
    id="prev"
    type="button"
    value="{{dt_prev_year}} {{dt_prev_month}}<"
    onclick="location.href='/{{dt_prev_year}}{{dt_prev_month}}'"
  ></input>
  <input
    id="next"
    type="button"
    value=">{{dt_next_year}} {{dt_next_month}}"
    onclick="location.href='/{{dt_next_year}}{{dt_next_month}}'"
  ></input>
</div>

<table class="table">
  <thead>
    <tr>
      <th style="width: 5%">Index</th>
      <th style="width: 10%">LGTM</th>
      <th style="width: 55%">Title</th>
      <th style="width: 15%">CreatedAt</th>
      <th style="width: 15%">UpdatedAt</th>
    </tr>
  </thead>
  <tbody>
    {% for article in selected_articles %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ article.likes_count }}</td>
      <td  style="text-align: left">
        <a href="{{ article.url }}">{{ article.title }}</a>
      </td>
      <td>{{ article.created_at }}</td>
      <td>{{ article.updated_at }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
